# Eclipse
/.classpath
/.project
/.settings/

# Eclipse + checkstyle
.checkstyle

# IntelliJ IDEA
/.idea/
*.iml

# Build and test artifacts
/target

# OSX Metadata
.DS_Store

# Gradle
.gradle
build/
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

