language: java
jdk:
  - oraclejdk8
  - oraclejdk9
install: /bin/true
script: mvn checkstyle:check javadoc:javadoc test package
deploy:
  provider: releases
  api_key:
    secure: braT4pMYLy0ocRgNt4MrI0kWUPnQF455RNLXBAf3+ArSiCMpaoQkwoDnauI155+Kaq2sXDuFg/vCdNQ0h4Rd33qEW5vg810wQQKj9lleDJmfv2W6/DxpTDnvySR4ChAWv9BZBMFIPhdv/dfZWgZBFHluvXw2Bi4UMF0GXsNPjYs=
  file_glob: true
  file: "target/salt-netapi-client-*.jar"
  skip_cleanup: true
  on:
    repo: SUSE/salt-netapi-client
    tags: true
after_success:
  - scripts/publish_javadoc.sh
env:
  global:
    - secure: XvflMMZoyQSbsCdOD98rFxsEvd+c9aNUulPf0IIKpp6OFcl0lEoq6c4cEd0C/qBtlZgBNTYmnWfOpWcrNZABa2PXAbi0p9lw/5/L9UgnlEfWG0NbVbJ/arb2DidgnidvVT5GhNNn31/38zwVcJVyo3yjRmf72ZwPbZKWGygKkjc=
sudo: false
